body {
    font-family: Arial, sans-serif;
}

.app-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.app-list-ul {
    li {
        min-height: 45px;
        padding-left: 5px;
        position: relative;
        background-color: #f0f0f0;
        margin: 5px 0;
        &.new-category {
            background-color: green;
            color: #f0f0f0;
        }
        .btn-group {
            width: 85px;
        }
        .edit-category {
            width: calc(100% - 88px);
            position: absolute;
            top: 2px;
            left: 2px;
            height: calc(100% - 4px);
        }
    }
    &.products-list li {
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
    }
}

.draggableElement {
    cursor: grab;
}

.breadcrumb-item + .breadcrumb-item::before {
    margin-top: 5px;
}
