body {
    font-family: Arial, sans-serif;
}

.sortable-list {
    max-width: 300px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

#sortable {
    li {
        position: relative;
        background-color: #f0f0f0;
        padding: 10px;
        margin: 5px 0;
        cursor: grab;
        &.new-category {
            background-color: green;
            color: #f0f0f0;
        }
        .btn-group {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 70px;
        }
        .edit-category {
            width: calc(100% - 72px);
            position: absolute;
            top: 2px;
            left: 2px;
            height: calc(100% - 4px);
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    margin-top: 5px;
}
