$topHeight: 60px;

#nav {
    height: $topHeight;
}
#main {
    min-height: calc(100vh - $topHeight);
}
#menu {
    overflow-y: auto;
    width: 250px;
}
#content{
    padding-bottom: 250px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    z-index: 10;
    opacity: 0.5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@include media-breakpoint-only(xs) {
    $topHeight: 100px;
    .shop {
        #nav {
            height: $topHeight;
        }
        #main {
            min-height: calc(100vh - $topHeight);
        }
    }
    #menu {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        background: #fff;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        left: -12px;
    }
    #search {
        width: 100%;
    }
}
