$topHeight: 60px;

#nav{
    height: $topHeight;
}
#main{
    position: relative;
    min-height: calc(100vh - $topHeight);
}
#menu{
    overflow-y: auto;
    width: 250px
}


@include media-breakpoint-only(xs) {
    $topHeight: 100px;
    .shop {
        #nav{
            height: $topHeight;
        }
        #main{
            min-height: calc(100vh - $topHeight);
        }
    }
    #menu{
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        min-height: calc(100vh - 100px);
        background: #fff;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    #search{
        width: 100%;
    }
}
