#products-container {
    .product {
        height: 400px;
        padding-top: 10px;
        overflow: hidden;
        &:hover {
            overflow: visible;
            z-index: 10;
            position: relative;
            .edit-product {
                span {
                    display: inline;
                }
            }
        }
        .card {
            width: 200px;
            height: 100%;
            margin: 0 auto;
            .card-body {
                background-color: #fff;
                border-radius: 6px;
            }
            .card-img {
                position: relative;
                width: 198px;
                height: 198px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: scale-down;
                }
            }
        }
    }
    .edit-product {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
            display: none;
        }
    }
}

@include media-breakpoint-up(md) {
    #products-container {
        .product {
            width: 50%;
            max-width: 235px;
            float: left;
        }
    }
}

@include media-breakpoint-up(lg) {
    #products-container {
        .product {
            width: 33.33%;
        }
    }
}

@include media-breakpoint-up(xl) {
    #products-container {
        .product {
            width: 25%;
        }
    }
}
